@import "./assets/scss/color", "./assets/scss/mixin";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  min-height: calc(100vh - 120px);
  padding: 20px 80px;
  max-width: 1280px;
  margin: 0 auto;

  @include mobile {
    min-height: auto;
    padding: 10px 10px;
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--row {
    flex-direction: row;
  }

  &--justify-center {
    justify-content: center;
  }

  @include mobile {
    &--justify-center-no-desktop {
      justify-content: center;
    }
  }

  &--align-center {
    align-content: center;
  }
}

.error {
  font-size: 14px;
  text-align: left;
  color: red;
  padding: 0 10px;

  @include mobile {
    font-size: 10px;
  }
}
